<main>
  <header>
    <h1 class="header-title">Sistema Escolar Unificado</h1>
  </header>
  <nav>
    <ul>
      <li><a routerLink="/list" routerlinkActive="active">Lista</a></li> <!-- Se atentar ao nome da diretiva routerLinkActive -->
      <li><a routerLink="/register" routerlinkActive="active">Cadastro</a></li> <!-- Todos os nomes de variáveis e métodos são sensitive case -->
      <!-- Ou seja, se uma letra que deveria ser maiuscula, estiver minuscula, não vai funcionar -->
      <!-- É recomendado utilizar o autocomplete do vscode -->
    </ul>
  </nav>
</main>

<router-outlet></router-outlet>
